<!DOCTYPE html>
<html>
<head>
<style>
body{
background:url('https://thumbs.gfycat.com/BlissfulPrestigiousCollie-size_restricted.gif');
height:100%;
width:100%;
background-size: cover;
}
#wss{
	opacity:0;
	-webkit-transition:opacity 1.0s linear 0s;
	transition:opacity 1.0s linear 0s;
}
.btn-one{
  background-color:#999FF;
  Width:280px;
  height:130px;
  border:1px solid white;
  opacity:0.6;
  color:black;
  font-size:50px;

}
</style>
<script>
var wss_i = 0;
var wss_array = [" Have a Digital-Presence?","Build your brand?","Attract more customers?"];
var wss_elem;
function wssNext(){
	wss_i++;
	wss_elem.style.opacity = 0;
	if(wss_i > (wss_array.length - 1)){
		wss_i = 0;
	}
	setTimeout('wssSlide()',1000);
}
function wssSlide(){
	wss_elem.innerHTML = wss_array[wss_i];
	wss_elem.style.opacity = 1;
	setTimeout('wssNext()',2000);
}
</script>
</head>
<body>
<h1>Wanna <span id="wss"></span></h1>
<script>wss_elem = document.getElementById("wss"); wssSlide(); </script>
<input class="btn-one" type="submit" name="Login" value="Login">
  

</body>
</html>